.footer {
  background-color: #0F5049;
  padding: 5rem 0;
  font-size: 1.4rem;

  @include respond(tab-port) {
    padding: 3rem 0;
  }

  &__logo-box {
    //margin: 0 auto;
    text-align: center;
    margin-bottom: 4rem;
  }

  &__logo {
    width: 10rem;
    height: auto;
  }

  &__navigation {
    border-top: 1px solid #6E6226;
    border-bottom: 1px solid #6E6226;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: inline-block;
  }

  &__list {
    list-style: none;
  }

  &__item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 1.7rem;
    }
  }

  &__link {
    &:link,
    &:visited {
      color: #E3F7E2;
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block;
      transition: all .2s;
    }

    &:hover,
    &:active {
      color: yellow;
      box-shadow: 0 1rem 2rem rgba(#000, .4);
      transform: rotate(3deg) scale(1.2);
    }
  }

  &__link-ph {
    &:hover,
    &:active {
      transform: rotate(-3deg) scale(1.2);
    }
  }


  &__copyright {
    width: 80%;
    border-top: 1px solid #6E6226;
    padding-top: 2rem;
    float: right;
  }
}

.social {
  width: 50%;
  margin: 0 auto;
  list-style: none;
  display: flex;
  justify-content: space-between;

  &__item {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: rgba(255,255,255, .6);
    position: relative;
    cursor: pointer;
    transition: all .2s;

    &:hover {
      background-color: rgba(255,255,255, .9);
    }

    &:hover .fab {
      color: rgba(15,80,73, .8);
    }
  }

  &__link {
    display: inline-block;
    width: 100%;
    height: auto;
  }
}

.fab {
  text-decoration: none;
  color: #6D6323;
  font-size: 180%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}