/*-*-*-----COLOR-----*-*-*/

$bg-about-white: #F8F9FA;
$bg-secondary: #EAF2F4;

$heading-primary: #2C303D;
$red: #E64C3C;
$white: #fff;
$hover-link-dark: #282b31;

$dark: #584C40;
$black: #1F1F1F;
$grey: #989898;



