.card {
  width: 24.9rem;
  border: 1px solid transparent;
  padding: 1.3rem 1.6rem 1.7rem 1.6rem;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;

  &:hover {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border: 1px solid $green;
  }

  &__youtube-box {
    height: 2.4rem;
    margin-bottom: .4rem;
  }

  &__youtube-logo {
    width: 2rem;
    height: auto;
    padding: .5rem 0;
    margin-right: 1.9rem;
  }

  &__tube {

    &:hover {
      fill: red;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    }
  }

  &__arrow-logo {
    width: 2.2rem;
    height: auto;
  }

  &__phone-box {
    width: 21.7rem;
    height: 21.7rem;
  }

  &__phone-logo {
    width: 100%;
    height: auto;
  }

  &__color-box {
    padding: .2rem 0;
    display: flex;
    margin: -1.25rem 0 .7rem 0;
  }

  &__color {
    width: 1.8rem;
    height: 1.8rem;
    border-radius: .4rem;
    border: 1px solid $bg-white;

    &:not(:last-child) {
      margin-right: 1rem;
    }

    &--dark {
      background-color: $picked-color-dark;
      //outline: 2px solid #7EB105;
      //outline-offset: 1px;
      box-shadow: 0 0 0 2px rgba($green, 0.75);
    }

    &--pink {
      background-color: $picked-color-pink;
    }
  }


  &__code {
    font-size: 1rem;
    color: $picked-color-dark;
    margin-bottom: .6rem;

    &--grey {
      color: $grey-2;
    }
  }

  &__in-stock {
    color: $green;
    margin-bottom: .6rem;

  }

  &__stock {
    font-size: 1.2rem;

    &::before {
      content: "";
      display: inline-block;
      width: .8rem;
      height: .8rem;
      background-color: $green;
      margin-right: .8rem;
      border-radius: 50%;
    }
  }

  &__title {
    font-size: 1.4rem;
    color: $black;
    line-height: 1.6rem;
    text-align: left;
  }

  &__capacity {
    margin-top: .8rem;
    @extend .card__title;
    margin-bottom: 1.2rem;

    &--1 {
      display: inline-block;
      background-color: $sky;
      margin-right: 1rem;
    }

    &--2 {
      display: inline-block;
      color: $green;
      border-bottom: 1px dashed $green;
    }
  }
  .card__price {
    margin-bottom: .4rem;

    &--old {
      color: $grey-2;
      font-size: 1.4rem;
    }

    &--new {
      color: $orange;
      font: 700 2.1rem 'Ubuntu', Arial, sans-serif;
    }
  }

  &__currency {
    color: inherit;
    font: 700 1.3rem 'Ubuntu', Arial, sans-serif;
    line-height: 2.1rem;
    vertical-align: top;
  }

  &__economy {
    font-size: 1.2rem;
    color: $green;
    padding-bottom: .4rem;
    border-bottom: 1px solid $grey-4;
    margin-bottom: 1.3rem;

    & span {
      font-weight: 700;
    }
  }

  &__icons {
    padding: .3rem 2.6rem;
    margin-bottom: 3rem;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
  }

  &__item {
    width: 2rem;
    height: 2rem;
  }

  &__icon {
    width: 100%;
    height: auto;
  }

}