
/*--- Button ---*/

.btn {

  &:link,
  &:visited {
    display: inline-block;
    text-decoration: none;
    font-size: 1.4em;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 2.5% 0;
    width: 27%;

    @media screen and(max-width: 1024px) {
      font-size: 90%;
    }

    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;

    &:not(:last-child) {
      margin-right: 3rem;
  }

    @media (max-width: 780px) {
      display: inline-block;
      text-align: center;
      min-width: 35%;
    }

    @media (max-width: 600px) {
      display: block;
      width: 100%;
      text-align: center;
      font-size: 1.1rem;
      padding: 1.5rem;
      margin-bottom: 1rem;
    }
  }

  &--red {
    color: #fff;
    border: 1px solid $red;
    background-color: $red;

    &:hover {
      color: rgba($white, .8);
      border: 1px solid $red;
      background-color: rgba($red, .5);
    }
  }

  &--white {
    color: #fff;
    border: 1px solid #fff;

    &:hover {
      color: rgba($dark, .8);
      border: 1px solid $white;
      background-color: rgba($white, .8);
    }
  }

  &:hover {
    -webkit-box-shadow: 0 4px 6px 2px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 4px 6px 2px rgba(0, 0, 0, .2);
    box-shadow: 0 4px 6px 2px rgba(0, 0, 0, .2);
  }

  &:active {
    -webkit-transform: translateY(.1rem);
    -moz-transform: translateY(.1rem);
    -ms-transform: translateY(.1rem);
    -o-transform: translateY(.1rem);
    transform: translateY(.1rem);
    -webkit-box-shadow: 0 2px 5px 2px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 2px 5px 2px rgba(0, 0, 0, .2);
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, .2);
  }
}
