.header {
  padding-top: 4rem;
  height: 150vh;

  @media screen and(max-width: 1024px) {
    height: 100vh;
  }

  @media screen and(max-width: 600px) {
    height: 130vh;
  }

  &__top-box {

  }

  &__top-box::after {
    content: "";
    display: block;
    clear: both;
  }

  &__left {
    float: left;
    width: 12.5%;

    @media screen and(max-width: 780px) {
      width: 20%;
      float: none;
      margin: 0 auto;
    }
  }

  &__right {
    float: right;
    width: 87.5%;

    @media screen and(max-width: 780px) {
      float: none;
      width: 100%;
    }
  }

  &__logo {
    display: flex;
    font-size: 3em;
    width: 100%;
    border: 2px solid #fff;

    @media (max-width: 900px) {
      width: 120%;
    }

    @media (max-width: 600px) {
      width: 140%;
    }
  }

  &__span {
    display: inline-block;
    height: 100%;
    text-align: center;
    font: 400 1.2em "Open Sans", sans-serif;

    @media screen and(max-width: 960px) {
      font-size: .95em;
    }

    @media screen and(max-width: 780px) {
      font-size: 1.1em;
    }

    @media screen and(max-width: 600px) {
      font-size: .9em;
    }

    &--1 {
      background-color: #fff;
      font-weight: bold;
      color: #494B54;
      width: 36.5%;
      height: 100%;

    }

    &--2 {
      background-color: transparent;
      color: #fff;
      width: 63.5%;
    }
  }

  /*-----------Header Right----------*/
  &__nav {
    margin-left: 37.5%;
    width: 62.5%;
    height: 5.3rem;
    display: flex;

    @media screen and(max-width: 960px) {
      margin-left: 20%;
      width: 70%;
    }

    @media screen and(max-width: 780px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 0;
      width: 100%;
      text-align: center;
    }


    @media screen and(max-width: 600px) {
      margin-left: 0;
      width: 100%;
      text-align: center;
      height: 100vh;
    }
  }

  &__list {
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;

    @media screen and(max-width: 780px) {
      z-index: 20;
      display: none;
    }
  }

  &__item {

  }

  &__link {
    display: inline-block;
    height: 100%;
    padding-top: 1.8rem;
    vertical-align: middle;
    text-decoration: none;
    color: $white;
    font: 400 1.4rem "Open Sans", sans-serif;
    text-transform: uppercase;
    border-bottom: 1px solid transparent;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;

    @media screen and(max-width: 780px) {
      display: block;
      padding: 5.1% 0;
      font-size: 2.2rem;
      border: 1px solid $dark;
      background-color: #E6A561;
    }

    &:hover {
      color: rgba($red, .8);
      border-bottom: 1px solid $red;
    }
  }

  &__burger {
    padding: 5% 3%;
    cursor: pointer;
    background-color: rgba($black, .4);
    display: none;

    @media screen and(max-width: 780px) {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  &__strip {
    width: 3rem;
    height: 3px;
    background-color: $white;

    &::before,
    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 3px;
      background-color: inherit;
      position: relative;
    }
    &::before {
      top: -.8rem;
    }
    &::after {
      bottom: -.5rem;
    }
  }

  /*-----------Header Text-Box-----------*/
  &__text-box {
    display: inline-block;
    width: 62%;
    margin: 20rem auto;
    text-align: center;

    @include absCenter;

    @media screen and(max-width: 1024px) {
      margin: 4rem auto;

    }

    @media screen and(max-width: 600px) {
      margin: 15rem auto;
      width: 70%;
    }
  }

  &__point {
    margin: 0 auto;
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: $red;
    position: relative;

    &::before,
    &::after {
      content: "";
      display: inline-block;
      height: 2px;
      width: 10rem;
      background-color: #fff;
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: -12em;
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 3.3em;
    }
  }
}
