/*-----BASE-----*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Nunito Sans', sans-serif;
}

.main-content {
  overflow: hidden;
}

.container {
  width: 114rem;
  margin: 0 auto;
}
