/*-*-*-----COLOR-----*-*-*/

$bg-grey: #E5E5E5;
$bg-white: #fff;

$picked-color-dark: #454545;
$picked-color-pink: #FFACA7;

$green: #7EB105;
$orange: #F6731C;
$grey-2: #999999;
$grey-3: #C4C4C4;
$grey-4: #EBEBEB;
$black: #212121;
$sky: #EEFBE0;



