@import "../scss/mixins";
@import "../scss/animate";
@import "../scss/typography";
@import "../scss/components/button";
@import "../scss/components/grid";
@import "../scss/components/feature-box";
@import "../scss/components/card";
@import "../scss/components/story";
@import "../scss/components/book";
@import "../scss/components/footer";
@import "../scss/components/navigation";
@import "../scss/components/header";




*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: 'Quattrocento Sans', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  box-sizing: border-box;
  //overflow: hidden;
}

html {
  font-size: 62.5%; // 1rem = 10px; 10px/16px = 62.5%

  @include respond(tab-land) {
    font-size: 56.25%; // 1rem = 9px; 9/16 = 50%
  }

  @include respond(tab-port) {
    font-size: 50%; // 1rem = 8px; 8/16 = 50%
  }

  @include respond(phone) {
    font-size: 45%;
  }

  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12, 12/16
  }
}


/*-----------------------HEADER------------------------*/

.header {
  height: 100vh;
  background-image: linear-gradient(
    to right bottom,
  rgba(#CFDA33, 0.8),
  rgba(#68DA11, 0.8)),
  url(../img/bg-header.jpg);

  background-size: cover;
  background-position: center;

  -webkit-clip-path: polygon(100% 0, 100% 85%, 50% 100%, 0 85%, 0 0);
  clip-path: polygon(100% 0, 100% 85%, 50% 100%, 0 85%, 0 0);

  @include respond(tab-port) {
    -webkit-clip-path: polygon(100% 0, 100% 95%, 50% 100%, 0 95%, 0 0);
    clip-path: polygon(100% 0, 100% 95%, 50% 100%, 0 95%, 0 0);
  }

  @include respond(phone) {
    -webkit-clip-path: polygon(100% 0, 100% 95%, 50% 100%, 0 95%, 0 0);
    clip-path: polygon(100% 0, 100% 95%, 50% 100%, 0 95%, 0 0);
  }



  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }

  &__logo {
    height: 6.5rem;
    width: auto;
  }
}

.header__text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

}

/*----------------------Section-ABOUT------------------------*/

.section-about {
  background-color: #e6ffe6;
  padding: 20rem 0;
  margin-top: -20vh;

  @include respond(tab-port) {
    padding: 25rem 0 10rem 0;
  }

  @include respond(phone) {
    padding: 25rem 0 10rem 0;
  }
}

.composition {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0 5rem;

  @include respond(tab-port) {
    width: 200%;

    margin: 0 auto;
    padding: 5rem;
  }


  &__photo {
    width: 55%;
    box-shadow: 0 1.5rem 3rem rgba(#000, .2);
    border-radius: 2px;
    position: absolute;
    transition: all .3s;
    outline-offset: 1rem;
    outline: 1.5rem solid transparent;

    @include respond(tab-port) {
      float: left;
      position: relative;
      width: 33.33333%;
    }

    &--p1 {
      top: 0;
      left: 0;
      z-index: 1;

      @include respond(tab-port) {
        top: 0;
      }
    }

    &--p2 {
      right: 0;
      top: 4em;

      @include respond(tab-port) {
        top: 0;
        left: 2em;
        transform: scale(1.1);
      }
    }

    &--p3 {
      top: 15em;
      left: 10em;

      @include respond(tab-port) {
        top: 0;
        left: 4em;
      }
    }

    &:hover {
      z-index: 10;
      outline: 1.5rem solid #fff;
      transform: translateY(-.5rem) scale(1.05);
      box-shadow: 0 2.5rem 3.5rem rgba(#000, .2);
    }
  }

  &:hover &__photo:not(:hover) {
    transform: scale(.92);
  }
}

.col-1-of-2.bg-left {
  @include respond(tab-port) {
    display: block;
    width: 90%;

    padding: 0 5rem;
  }
}

/*----------------Section-Features-------------------*/

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(
    to right bottom,
    rgba(#CFDA33, 0.8),
      rgba(#68DA11, 0.8)),
  url(../img/bg-feature.jpg);
  background-size: cover;
  background-position: center;

  -webkit-clip-path: polygon(100% 0, 100% 85%, 50% 100%, 0 85%,0 0);
  clip-path: polygon(100% 0, 100% 85%, 50% 100%, 0 85%, 0 0);

  @include respond(tab-port) {
    padding: 10rem 0 10rem 0;

    -webkit-clip-path: polygon(100% 0, 100% 92%, 50% 100%, 0 92%,0 0);
    clip-path: polygon(100% 0, 100% 92%, 50% 100%, 0 92%, 0 0);
  }
}

.section-tours {
  padding: 10rem 0;

  @include respond(tab-port) {
    padding: 8rem 0 10rem 0;
  }
}

/*----------------Section-Cards-------------------*/

.card__picture--1 {
  background-image: linear-gradient(to left bottom,
          rgba(#FF9E1E, .7),
          rgba(#FF9E1E, .2)),
          url('../img/nat-2.jpg');
  background-size: cover;
  color: #FF9E1E;
}

.card__picture--2 {
  background-image: linear-gradient(to left bottom,
          rgba(#51A000, .7),
          rgba(#51A000, .2)),
  url('../img/nat-1.jpg');
  background-size: cover;
  color: #51A000;
}

.card__picture--3 {
  background-image: linear-gradient(to left bottom,
          rgba(#517AFF, .7),
          rgba(#517AFF, .2)),
  url('../img/nat-3.jpg');
  background-size: cover;
  color: #517AFF;
}

/*----------------------Section-STORY------------------------*/
.section-stories {
  padding: 15rem 0;
  background: #f4f2f2;
  background-image: linear-gradient( to bottom,  rgba(#BA2650, 0.8), rgba(#BA2650, 0.8)), url("../img/story-bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  overflow-x: hidden;

  @include respond(tab-port) {
    padding: 10rem 0 10rem 0;
  }
}

/*----------------------Section-book------------------------*/

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, orange, yellow);

  @include respond(tab-port) {
    padding: 9rem 0;
  }
}

.book {
  background-image: linear-gradient(100deg,
          rgba(#4BEB42, .9) 0%,
          rgba(#4BEB42, .8) 47%,
          rgba(#fff, .4) 50%),

  url("../img/bg-book.jpg");
  background-size: 100%;
}

/*----------------------Adaptiv------------------------*/



