/* Big tablet to 1200px (width smaller than 1140px row)*/
@media screen and (max-width: 1200px) {

.header {
  padding: 0 2%;

  &__left {
    width: 25%;
    padding-top: 0;
    margin: 0;
  }

  &__right {
    width: 75%;
    padding-top: 0;
    margin-top: 0;
  }
  &__top-box {
    width: 100%;
  }

  &__text-box {
    margin: 7.3em 0;

  }

  &__icon {
    width: 25%;
  }

  &__img {
    width: 100%;
  }

  &__text {
    width: 49%;
    padding: 2% 3%;
  }

  &__icon {
    width: 20%;
  }

}

  .tablet {
    width: 40%;

    &__img {
      width: 90%;
    }
  }
}

/* Small tablet to big tablet: from 768px to 1023px*/
@media screen and (max-width: 1023px) {

  .container {
    width: 90%;
  }

  .header {

    &__left {
      width: 25%;
      padding-top: 0;
      margin: 0;
    }

    &__right {
      width: 75%;
      padding-top: 0;
      margin-top: 0;
    }

    &__top-box {
      padding-top: 2rem;
    }

    &__text {
      width: 50%;
      padding: 10% 0;
    }

    &__icon {
      width: 25%;
      margin-bottom: 0;
    }
  }

  .section-about {
    margin-top: -7rem;
    padding: 16rem 0 8rem 0;
  }

  .about {

    &__left {

    }

    &__right {
      margin-top: 0;
    }

    &-box {
      padding: 0 2%;
    }

    &-tablet {
      width: 100%;
    }
  }

  .tablet__img {
    width: 100%;
  }

  //SECTION DOWNLOAD

  .section-download {
    padding: 8% 0;
  }

  .download {

    &__btn-box {
      margin-top: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  // SECTION CHESS

  .chess {
    height: 100rem;

    &__image-box {
      height: 120%;
      width: auto;
      padding: 10% 0;
      display: flex;
      justify-content: center;
    }

    &__img {
      width: 80%;
    }

    &__text-box {
      width: 85%;
    }

  }

  // SECTION VIDEO

  .section-video {
    padding: 8% 0;
  }

  .section-card {
    padding: 8% 0;
  }

  .card {

    &__side {
      padding: 5% 0;
      height: 90%;
    }

    &__half {
      padding: 1rem;
    }

    &__price-value {
      font-size: 4.5rem;
    }

    &__details ul li {
      font-size: 1.3rem;
    }
  }

  // FORM

  .section-form {
    padding: 8% 0;
  }

  .contact-form {
    width: 90%;
    padding: 5rem;
  }
}

/* Small phone to small tablet: from 481px to 767px*/
@media only screen and (max-width: 767px) {

  p[class$="-ph"] {
    font-size: 1.3rem;
  }

  .section-about {
    padding: 6rem 0;
  }

  .header {

    &__top-box {
      position: relative;
    }

    &__link, &__item {
      display: block;
    }

    &__list {
      position: absolute;
      opacity: 0;
      width: 100%;
      height: 60vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: rgba(#AEBBFF, .9);
      top: 7rem;
      left: 0;
      z-index: 5;
      border-radius: 3px;
    }

    &__item {
      width: 100%;
      display: block;
      height: 12vh;

      &:hover {
        background-color: rgba($white, .4);
      }
    }

    &__link {
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      font-size: 2rem;

    }

    &__burger {
      display: block;
      position: absolute;
      right: 0;
      top: 2rem;
      background-color: rgba(255,255,255, .1);
      -webkit-transition: background-color .2s;
      -moz-transition: background-color .2s;
      -ms-transition: background-color .2s;
      -o-transition: background-color .2s;
      transition: background-color .2s;

      &:hover {
        background-color: rgba(255,255,255, .05);

      }
    }

    &__text {
      width: 45%;
      padding: 0 5% 5% 0;
    }


  }

  .about {

    &__left {
      width: 43%;
      margin-right: 2%;
    }

    &__right {
      width: 55%;
    }

    &-box {
      height: auto;
    }

    &__icon {
      width: 10rem;
    }

    &__img {
      width: 85%;
    }
  }

  .section-chess {
    padding: 8rem 0;
  }

  .chess {
    height: 70rem;

    &__text-box {
      width: 90%;
    }
  }

  .video {
    width: 80%;

    &__text-box {
      margin-bottom: 2.5rem;
    }

    &__icon {
      width: 5rem;
      height: 5rem;

      &::after {
        border: 1rem solid transparent;
        border-left: 1.5rem solid orange;
      }
    }
  }

  .card {

    &__left {
      width: 32%;
      margin-right: 3%;
    }

    &__right { width: 65%; }

    &-form__select,
    &-form__input {
      width: 40%;
      height: 3rem;
      padding: .3rem;
    }

    &-form__label {
      font-size: 1.3rem;
    }
  }

  .form {

    &__text-box {
      width: 90%;
      margin: 0 auto 3rem auto;
    }
  }
}

/* Small phones: from 0 to 480px*/
@media only screen and (max-width: 480px) {

  .header {

    &__text {
      width: 100%;
      text-align: center;
    }
  }

  .tablet {
    width: 60%;
    position: static;
    transform: translateX(33.3%);
  }

  .about {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__left,
    &__right {
      float: none;
      width: 100%;
    }

    &-tablet {
      width: 60%;
      margin: 5% auto;
    }
  }

  .download {

    &__left,
    &__right {
      text-align: center;

      float: none;
      width: 100%;
    }

    &__left { margin-bottom: 5%; }
  }

  .chess {
    height: 130rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__block {
      width: 100%;
      height: 30%;
    }

    &__block--grey {
      height: 20%;

      &:not(:last-child) { border-bottom: 1px solid #ccc; }
    }
  }

  .video { width: 90%; }

  .card__left,
  .card__right {
    float: none;
    width: 100%;
  }

  .card-form__input { width: 75%; }

  .contact-form {
    padding: 1.5rem;
  }

  .span-1-of-2 { width: 100%; }

  .footer {
    height: 23rem;

    &__wrap {
      height: 100%;
      float: none;
      display: flex;
      flex-direction: column;
      align-items: center;

      &::after {
        content: "";
        display: block;
        clear: both;
      }
    }

    &__logo, &__desc {
      text-align: center;
      font-size: 2.2rem;
      margin-bottom: 5%;
    }

    &__social {
      height: 4rem;
    }
  }
}